<h1>Booking:</h1>

<p><strong>FLIGHT DETAILS:</strong></p>

<p>
  <strong>Flight date:</strong>
  <%= @flight.flight_date.strftime("%d %b %y") %>
</p>
<p>
  <strong>From:</strong>
  <%= @flight.departure_airport.code %>
</p>
<p>
  <strong>To:</strong>
  <%= @flight.arrival_airport.code %>
</p>
<p>
  <strong>Estimated fly time:</strong>
  <%= @flight.flight_duration %>
  <span>mins</span>
</p>
<p>
  <strong>Passengers onboard:</strong>
  <%= @flight.passengers %>
</p>
<p>------------------------------------------------</p>
<%= form_with model: @booking do |f| %>
  <% @quantity.times do %>
    <%= f.fields_for @booking.travellers.build do |sub_form| %>
      <p>Passenger:</p>
      <%= sub_form.text_field :name %>
      <%= sub_form.text_field :email %>

    <% end %>
  <% end %>
  <%= f.submit %>
<% end %>
